<div class="trending">
    <h3>Trending</h3>
    <ul class="trending-post">
        @for (int i = 1; i < 6; i++)
        {
            <li>
                <a href="single-post.html">
                    <span class="number">@i</span>
                    <h3>The Best Homemade Masks for Face (keep the Pimples Away)</h3>
                    <span class="author">Jane Cooper</span>
                </a>
            </li>
        }
    </ul>
</div>
